.footer-wrap {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.footer-wrap .subfooter {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.footer-wrap .container {
    margin-bottom: 0;
}

footer {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
